*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.header{
    padding: 1rem;
}

.header_right{
    float: right;
}

.header_left{
    float: left;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
}

a{
    color: #333;
    text-decoration: none;
    padding: 0.5rem;
}

a:hover{
    text-decoration: underline;
}

#app_icon{
    vertical-align: middle;
    opacity: 0.8;
}

#app_icon:hover{
    opacity: 1;
    text-decoration: none;
}

.header_right_button{
    background-color: #4285F4;
    border: none;
    padding: 0.5rem;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}

.header_right_button:hover{
    cursor: pointer;
    background-color: #2f72df;
}

/* Main Content */

.main_logo{
    margin: 200px auto 64px;
    display: block;
}

.main_search_bar{
    height: 48px;
    width: 500px;
    border-radius: 24px; 
    border: 1px solid lightgray;
    margin: 0 auto;
    align-items: center;
}

.magnify{
    width: 25px;
    margin-left: 10px;
    margin-top: 10px;
}

.input{
    width: 420px;
    border: none;
    font-size: 18px;
    
}

.input:focus-visible{
    outline: none;
}


.mic{
    width: 14px;
    margin-left: 10px;

}

.main_buttons{
    text-align: center;
    margin-top: 32px;
}

.main_buttons_left,
.main_buttons_right{
    background-color: #f9f9f9;
    border: none;
    padding: 1rem;
    border-radius: 3px;
    border: 1px solid transparent;
    margin: 0 4px;
}

.main_buttons_left:hover,
.main_buttons_right:hover{
    border: 1px solid #dadada;
}

.footer{
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
    width: 100%;
}

.footer_country,
.footer_bottom{
    padding: 1rem;
}

.footer_country{
    border-bottom: 1px solid #dadada;
    color: black;
    opacity: 0.8;
    padding: 1rem 1.5rem;
}

.footer_left{
    float: left;
    padding-bottom: 1rem;
}

.footer_right{
    float: right;
}

