form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
  }
  
  label {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  input {
    padding: 12px 20px;
    margin-bottom: 20px;
    font-size: 18px;
    width: 300px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
  