body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
header{
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: plum;
    font-size: 36px;
    color: white;
}

nav{
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: orange;
    color: white;
    font-size: 26px;
}

aside, main{
    text-align: center;
    padding-top: 300px;
}
aside{
    height: 300px;
    background-color: greenyellow;
    width: 25%;
    float: left;
    color: white;
    font-size: 26px;
}

main{
    height: 300px;
    width: 100%;
    background-color: dodgerblue;
    color: white;
    font-size: 26px;
}

footer{
    clear: both;
    text-align: both;
    background-color: gray;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 26px;
}